Checks: '-*,readability-identifier-naming'

CheckOptions:
  - key: readability-identifier-naming.MemberPrefix
    value: m_
  - key: readability-identifier-naming.MemberCase
    value: lower_case

  - key: readability-identifier-naming.ClassMemberPrefix
    value: s_
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case

  - key: readability-identifier-naming.ClassConstantPrefix
    value: k_

  - key: readability-identifier-naming.ClassConstantCase
    value: lower_case

  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.ParameterCase
    value: lower_case
